<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1	th:text="${title}"></h1>	
	
	<form th:action="@{/form3_result}" th:object="${form}" method="post">
	    <div>
	        <label for="paramA">パラメータA:</label>
	        <input type="text" name="paramA" th:field="*{paramA}" />
	        <div th:if="${#fields.hasErrors('paramA')}" th:errors="*{paramA}" style="color: red;"></div>
	    </div>
		<div>
		    <label for="paramB">パラメータB:</label>
		    <input type="text" name="paramB" th:field="*{paramB}" />
		    <div th:if="${#fields.hasErrors('paramB')}" th:errors="*{paramB}" style="color: red;"></div>
		</div>
		<div>
		    <label for="paramA">パラメータC:</label>
		    <input type="text" name="paramC" th:field="*{paramC}" />
		    <div th:if="${#fields.hasErrors('paramC')}" th:errors="*{paramC}" style="color: red;"></div>
		</div>
	    <div>
	        <button type="submit">Submit</button>
	    </div>
	</form>
</body>
</html>